@{
    //Layout = "~/Views/Shared/_Layout_Semantic.cshtml"; 
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic")
    @Styles.Render("~/Styles/Login.css")

</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form action="@Url.Action("Index", "Claim")" method="get" class="ui form">
            <div class="ui stacked secondary segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large green submit button">Login</div>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a href="">Register</a>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/semantic")
@*@RenderSection("scripts", required: false)*@
    
    <script>

        $(document).ready(function () {

            $('.ui.form')
                    .form({
                        fields: {
                            email: {
                                identifier: 'email',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please Enter a Valid Email'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'minCount[6]',
                                        prompt: 'Please Enter a Valid Password'
                                    }
                                ]
                            }
                        }
                    })
                ;
        
        });
    </script>
}
</body>
</html>





